<div class="main">
  <h2>Edit your records</h2>
  <form action="/users/personal_records" method="post">
    <label for="exercise">Choose exercise:</label>
    <select class="" name="exercise">
      <option value="Squat Clean">Squat Clean</option>
      <option value="Power Clean">Power Clean</option>
      <option value="Hang Power Clean">Hang Power Clean</option>
      <option value="Hang Squat Clean">Hang Squat Clean</option>
      <option value="Clean & Jerk">Clean & Jerk</option>
      <option value="Jerk">Jerk</option>
      <option value="Snatch">Snatch</option>
      <option value="Power Snatch">Power Snatch</option>
      <option value="Hang Power Snatch">Hang Power Snatch</option>
      <option value="Hang Squat Snatch">Hang Squat Snatch</option>
      <option value="Front Squat">Front Squat</option>
      <option value="Backsquat">Backsquat</option>
      <option value="Bench Press">Bench Press</option>
      <option value="Deadlift">Deadlift</option>
      <option value="Gymnastics">Gymnastics</option>
      <option value="Pull up">Pull up</option>
      <option value="Muscle up">Muscle up</option>
      <option value="Push up">Push up</option>
      <option value="Toes to Bar">Toes to Bar</option>
      <option value="Hand stand push up">Hand stand push up</option>
      <option value="500m rower">500m rower</option>
      <option value="500m Ski Erg">500m Ski Erg</option>
      <option value="500m AirBike">500m AirBike</option>
      <option value="400m Run">400m Run</option>
      <option value="1km Run">1km Run</option>
      <option value="10km Run">10km Run</option>
    </select>
    <label for="max_result"></label>
    <input type="text" name="max_result">
    <button type="submit">Apply</button>
  </form>
</div>
