<%= yield_content :nav_bar %>
<div id="sign_in">
  <h1>Zaloguj się</h1>
  <form action="#" method="post">
    <label for="sign_in_email">Email</label>
    <input type="text" name="sign_in_email" value="">
    <label for="sign_in_password">Password</label>
    <input type="password" name="sign_in_password" value="">
  </form>
</div>

<div id="sign_up">
  <h1>Zarejestruj się</h1>
  <form action="#" method="post">
    <label for="sign_up_email">Email</label>
    <input type="text" name="sign_up_email" value="">
    <label for="sign_in_password">Password</label>
    <input type="password" name="sign_up_password" value="">
  </form>
</div>
